.searchItem{
    border: 1px solid grey;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.siImg{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.siDesc{
    display: flex;
    flex-direction: column;
    flex: 2;
    gap: 10px;
}
.siTitle {
   font-size: 20px;
   color: #0071c2;
}
.siDistance {
    font-size: 12px;
}
.siTaxiOp {
    font-size: 12px;
    color: white;
    background-color: #008009;
    width: max-content;
    padding: 5px;
    border-radius: 5px;
}
.siDetails{
    flex: 1;
}